background {
	margin: 0px;
}
#test {
	text-align: center;
}
#calculator {
	margin: auto;
	background: #323944;
	height: 310px;
	width: 280px;
	border: 4px groove white;
	border-radius: 25px;
}
#calculator form {
	text-align: center;
}
#ruta{
	margin-top: 15px;
}
#knapp0 {
	margin-left: 94px;
}
body{
	background-image: url("stardust.png");
	background-color: #001247;
}
.knappar{
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.ops{
	margin-top: 20px;
}
.lefties{
	margin-left: 40px;
}
h1{
	font-family: Segoe UI Light, Segoe UI,Calibri light, Calibri;
	color: white;
}
p{
	font-family: Segoe UI Light, Segoe UI,Calibri light, Calibri;
	color: white;
	font-size: 25px;
	text-align: center;
	
}
a{
	text-decoration: underline;
	color: white;
}
a:hover{
	color: royalblue;
}
#gitlogo{
	width: 25px;
	margin-top: 5px;
	margin-right: 10px;
}
#gitlogo2{
	width: 25px;
	margin-top: 5px;
	margin-left: 10px;
}

