background {
	margin: 0px;
}
#test {
	text-align: center;
}
#calculator {
	margin: auto;
	background: grey;
	height: 310px;
	width: 280px;
	border: 4px groove white;
	border-radius: 25px;
}
#calculator form {
	text-align: center;
}
#ruta{
	margin-top: 15px;
}
#knapp0 {
	margin-left: 94px;
}
body{
	background-image: url("stardust.png");
	background-color: #020024;
}
.knappar{
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.ops{
	margin-top: 20px;
}
.lefties{
	margin-left: 40px;
}
h1{
	font-family: Segoe UI Light, Segoe UI,Calibri light, Calibri;
	color: white;
}


